<!DOCTYPE html>
<html>
<body>
<main class="container">

<div class="pt-5 text-center">
  <h2>Login</h2>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_for :session, :class => 'form', url: :sessions_create do %>

      <%= label :session, :email, 'Email Address', :class => 'col-form-label' %>
      <%= text_field :session, :email, :class => 'form-control' %>
    
      <%= label :session, :password, 'Password', :class => 'col-form-label' %>
      <%= text_field :session, :password, :class => 'form-control' %>
      <br>
      
      <%= submit_tag 'Login', :class => 'btn btn-primary' %>
      
    <% end %>
  </div>
</div>

</main>
</body>
</html>