<!DOCTYPE html>
<html>
<body>
<main class="container">
  <div class="pt-5 text-center">
    <h2>Reset Your Password</h2>
    <p class="lead">Please fill in the blank below to reset your password.</p>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <hr class="mb-4">
      <%= form_tag user_path(@user), :method=>:put, class: 'form-horizontal' do %>

        <%= label :user, :password, 'New Password', :class => 'col-form-label' %>
        <%= password_field :user, :password, :class => 'form-control' %>

        <%= label :user, :password_confirmation, 'Confirm Your Password', :class => 'col-form-label' %>
        <%= password_field :user, :password_confirmation, :class => 'form-control' %>
        <br>
        <div class='row mb-3'>
          <div class='col text-center'>
            <%= submit_tag 'Save Changes', class: 'btn btn-primary mr-3 ml-5' %>
            <%= link_to 'Cancel', profile_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
</body>
</html>

