<!DOCTYPE html>
<html>
<body>
<main class="container">
  <h1></h1>
  <p class="lead">name: <%= @user.name %></p>

  <p class='lead'>$<%= @user.phone %></p>
  <p class='lead'>$<%= @user.email %></p>


  <div class="row">
    <%= link_to 'Back to item page', items_path, class: 'btn btn-primary m-1' %>
  </div>
  <div class="row">
    <%= link_to 'Edit', edit_profile_path(@user), class: 'btn btn-secondary m-1' %>

  </div>
</main>
</body>
</html>