<!--
<h1 class="h1">Items</h1>


<div class="card-deck">
<% @items.each do |item| %>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= item.title%></div>
        <div class="card-body text-dark">
            <p class="card-text"> <%= item.description %> </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: $<%= item.price %> </li>
        </ul>
        <div class="card-body">
            <%= link_to "Detail", item_path(item), class: "card-link" %>
            <%= link_to "Category", items_path(category: item.category), class: "card-link" %>
            <%= link_to "Contact", items_path, class: "card-link" %>
        </div>
    </div>

<% end %>

</div>
-->


<!doctype html>
<html>
  <body>
    <main>
      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="card-columns">
            <% @items.reverse_each do |item| %>
              <div class="card mb-4 box-shadow">
                <a class="card-block stretched-link text-decoration-none" href=<%= item_path(item)%>>
                  <%# <img class="card-img-top" data-src="./iphone.jpeg" alt="Card image cap"> %>
                  <% if item.images.attached? %>
                    <%= image_tag item.images[0], :class=>'card-img-top' %>
                  <% end %>
                  <div class="card-header text-dark"><strong><%= item.title %></strong></div>
                  <div class="card-body">
                    <p class="card-text lead text-dark"><small>$<%= item.price %></small></p>
                    <p class="card-text text-secondary"><%= item.description %></p>
                    <p class="card-text"><small class="text-muted"><%= item.updated_at %></small></p>
                  </div>
                </a>
              </div>
            <% end %>
            </div>
          </div>

        </div>
      </div>
    </main>
  </body>
</html>