<h2>Create New Item</h2>

<%= form_tag items_path, class: 'form' do %>
  <%= label :item, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :item, :title, class: 'form-control' %>

  <%= label :item, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :item, :description, class: 'form-control' %>


<%= label :item, :category, 'Category', class: 'col-form-label' %>
  <%= text_field :item, :category, class: 'form-control' %>

  <%= label :item, :price, 'Price', class: 'col-form-label' %>
  <%= text_field :item, :price, class: 'form-control' %>

    <%= label :item, :number, 'Number', class: 'col-form-label' %>
  <%= text_field :item, :number, class: 'form-control' %>

  <%= label :item, :neededItem, 'Buy or Sell', class: 'col-form-label' %>
  <%= select :item, :neededItem, [['Buy', true], ['Sell', false]], {}, {class: 'form-control col-1'} %>

  <br/>
  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', items_path, class: 'btn btn-secondary' %>
<% end %>
