<!DOCTYPE html>
<html>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Smart-Ass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Home', items_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Post', items_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main class="container">
      <div class="pt-5 text-center">
        <h2>Post Your Item</h2>
        <p class="lead">Please fill in the blank below to post your product.</p>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <hr class="mb-4">
          <%= form_tag items_path, class: 'form-horizontal' do %>
            <%= label :item, :title, 'Title', class: 'col-form-label' %>
            <%= text_field :item, :title, class: 'form-control mb-3' %>

            <%= label :item, :description, 'Description', class: 'col-form-label' %>
            <%= text_field :item, :description, class: 'form-control mb-3' %>

            <%= label :item, :category, 'Category', class: 'col-form-label' %>
            <%= text_field :item, :category, class: 'form-control mb-3' %>

            <%= label :item, :price, 'Price', class: 'col-form-label' %>
            <%= text_field :item, :price, class: 'form-control mb-3' %>

            <%= label :item, :number, 'Number', class: 'col-form-label' %>
            <%= text_field :item, :number, class: 'form-control mb-3' %>

            <%= label :item, :neededItem, 'Buy or Sell', class: 'col-form-label' %>
            <%= select :item, :neededItem, [['Buy', true], ['Sell', false]], {}, {class: 'form-control mb-5'} %>
            <div class='row mb-3'>
              <div class='col text-center'>
                <%= submit_tag 'Save Changes', class: 'btn btn-primary mr-3 ml-5' %>
                <%= link_to 'Cancel', items_path, class: 'btn btn-secondary' %>
              </div>
            </div> 
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
