<!DOCTYPE html>
<html>
  <body>
    <main class="container">
      
      <% @item.images.each do |img| %>
        <%= image_tag img, :class=>'card-img-top' %>
      <% end %>

      <h1 class="mt-5"><%= @item.title %></h1>
      <%= link_to @item.category, search_category_path(:category=>@item.category), class: 'blockquote-footer' %>
      <p class='lead'>$<%= @item.price %></p>
      <h4>Description:</h4>
      <p id="description">
        <%= @item.description %>
      </p>
      <p class='text-muted'>
        <small>Updated at <%= @item.updated_at %></small>
      </p>
      <% if @item.neededItem %>
          <p> Please contact if you want to Sell </p>
      <% else %>
          <p> Please contact if you want to Buy </p>
      <% end %>


      <div class="row">
        <%= link_to 'Add to Wishlist', wishlists_path, class: 'btn btn-primary m-1' %>
      </div>
      <div class="row">
        <%= link_to 'Back to item list', items_path, class: 'btn btn-primary m-1' %>
        <%= link_to "Show Category", search_category_path(:category=>@item.category), class: 'btn btn-primary m-1' %>
      </div>
      <div class="row">
        <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-secondary m-1' %>
        <%= button_to "Delete", item_path(@item), method: :delete, form:{ data: { turbo_method: :delete}}, class: 'btn btn-secondary m-1' %>  
      </div>
    </main>
  </body>
</html>