<!DOCTYPE html>
<html>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-6 offset-md-1">
          <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <% for i in 1...@item.images.length() %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% for i in (0...@item.images.length()) do %>    
                <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                  <%= image_tag @item.images[i], class: 'd-block w-100' %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="col-5 pl-5">
          <h1 class="mt-4"><%= @item.title %></h1>
          <%= link_to @item.category, search_category_path(:category=>@item.category), class: 'blockquote-footer' %>
          <p class='lead'>$<%= @item.price %></p>
          <h4>Description:</h4>
          <p id="description">
            <%= @item.description %>
          </p>
          <% if @item.user_id != @current_user %>
            <h4>Contact with Seller:</h4>
            <p class='blockquote-footer'><em>Have questions? Comment first!</em></p>
            <div class="row pl-2">
              <%= link_to "Contact", profile_path(@item.user_id), class: 'btn btn-primary m-1' %>
            </div>
          <% end %>
          
          <p class='text-muted'>
            <small>Updated at <%= @item.updated_at %></small>
          </p>
          <div class="row pl-2">
            <% if @item.user_id != @current_user %>
              <% if session[:user_id] && Wishlist.find_by(user_id: session[:user_id], item_id: @item.id) %>
                <%= button_to "Remove from Wishlist", delete_wish_path, method: :delete,  class: 'btn btn-primary m-1' %>
              <% else%>
                <%= link_to 'Add to Wishlist', add_wishlists_path, class: 'btn btn-primary m-1' %>
              <% end %>
            <% end %>
            <% if !(@item.category.nil? or @item.category.empty?) %>
              <%= link_to "Show Category", search_category_path(:category=>@item.category), class: 'btn btn-primary m-1' %>
            <% end %>
          </div>
          <% if @item.user_id == @current_user %>
            <div class="row pl-2">
              <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-secondary m-1' %>
              <%= button_to "Delete", item_path(@item), method: :delete, form:{ data: { turbo_method: :delete}}, class: 'btn btn-secondary m-1' %>  
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <hr/>
      <br>
      <div class="row d-flex mb-5">
        <div class="col-md-10 offset-md-1">
          <h2 class="mb-3">Comment</h2>
          <div class="form-outline mb-4">
            <%= form_with(url: create_comment_path(@item.id), method: :post) do |f| %>
              <%= f.text_field :description, :class=> "form-control", :placeholder=>"Leave your comment..." %>
              <%= f.submit 'Post', :class => 'btn btn-primary inline-block' %>
            <% end %>
          </div>
          <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
          </div>

          <% if @comments.length == 0 %>
              <p class="text-center"> - Leave the first comment! - </p>
          <% end %>
          <% @comments.each do |comment|%>
            <div class="card mb-4">
              <div class="card-body">
                <p><%= comment[:description] %></p>

                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                      height="25" />
                    <p class="small mb-0 ms-2"><%= comment[:username] %></p>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <p class="small text-muted mb-0"><%= comment[:time] %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>



