<h1>Wishlist: <%= @wishlist.name%></h1>

<% if display_edit_delete_link %>
<%= link_to("Edit wishlist", edit_user_wishlist_path(@user, @wishlist)) %><br><br>

<%= link_to "delete", [@user, @wishlist], method: :delete,
                                  data: { confirm: "Are you sure?" } %>
<%end%>

<div class="container">
    <% @wishlist.products.each do |p| %>
        <div class="square">
            <h4><%= link_to("#{p.name}", item_path(p)) %></h4>
            <span><%=p.category.name.upcase%></span>

            <p><%= "#{number_to_currency(p.price)}" %></p>
            <img class="item-image" src="<%=p.image_link%>"><br>
        </div>
    <% end %>
</div>